{% extends "::base.html.twig" %}

{% block title %}CpsPerArchivoBundle:Empleado:buscarEmpleadoAjax{% endblock %}

{% block body %}
<h1>Welcome to the Empleado:buscarEmpleadoAjax page</h1>
{% endblock %}
